html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Museo Sans Cyrl';
  color: #282828;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.zoomha-btn {
  display: block;
  text-decoration: none;
  background: linear-gradient(270deg, rgba(239,190,5,0.5) 0%, rgba(255,255,255,0) 100%), #ff7008;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px 37px;
  color: #f4fbff;
  width: 100px;
  text-align: center;
  cursor: pointer;
  font-family: Raleway;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
.zoomha-wrapper {
  width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 89px 0 148px;
  border: 1px solid #e5e5e5;
}
.zoomha-logo {
  position: relative;
}
.zoomha-logo__link {
  width: 145px;
  height: 55px;
  display: block;
  background: url("../img/logo.png") 0 center no-repeat;
}
.zoomha-logo__link_header:after {
  content: '';
  height: 37px;
  width: 188px;
  position: absolute;
  top: 47px;
  left: -20px;
  background: url("../img/shadow.png") center center no-repeat;
  z-index: 2;
}
.zoomha-top {
  height: 31px;
  background: #ffcb08;
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 1280px;
  top: 0;
  box-sizing: border-box;
  z-index: 3;
}
.zoomha-lang {
  display: inline-block;
  vertical-align: top;
  font-family: Raleway;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 16px;
  padding: 7px 0 0px 23px;
  border-bottom: 1px dashed #282828;
  background: url("../img/en.png") left 10px no-repeat;
  cursor: pointer;
}
.zoomha-lang:hover {
  border-bottom: 1px solid transparent;
}
.zoomha-auth {
  display: flex;
  justify-content: space-between;
}
.zoomha-auth__item {
  display: inline-block;
  vertical-align: top;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 7px 0 0px 0;
  text-decoration: underline;
  margin: 0 14px 5px;
  cursor: pointer;
}
.zoomha-auth__item:hover {
  text-decoration: none;
}
.zoomha-auth__item_login {
  display: none;
}
.zoomha-auth__link {
  text-decoration: none;
  color: #282828;
}
.zoomha-auth_login .zoomha-auth__item_btn {
  display: none;
}
.zoomha-auth_login .zoomha-auth__item_login {
  display: block;
}
.zoomha-login {
  position: relative;
}
.zoomha-login__list {
  display: none;
  position: absolute;
  top: 30px;
  left: -8px;
  width: 145px;
  background: #ffcb08;
  padding: 10px;
  z-index: 1;
}
.zoomha-login__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  margin-bottom: 5px;
}
.zoomha-login__item {
  margin-bottom: 5px;
}
.zoomha-login__link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-decoration: underline;
  color: #282828;
}
.zoomha-login__link:hover {
  text-decoration: none;
}
.zoomha-login_open .zoomha-login__list {
  display: block;
}
.zoomha-header {
  position: fixed;
  width: 1280px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  top: 31px;
  height: 59px;
  line-height: 61px;
  padding: 0px 55px;
  background: #282828;
  z-index: 3;
}
.zoomha-menu {
  display: flex;
  justify-content: space-between;
}
.zoomha-menu__item {
  margin-right: 30px;
}
.zoomha-menu__link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #f4fbff;
  text-decoration: none;
}
.zoomha-mobile {
  display: none;
  position: relative;
  width: 100%;
}
.zoomha-mobile__basket {
  position: absolute;
  top: 15px;
  right: 55px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("../img/basket.png") center center no-repeat;
}
.zoomha-mobile__open {
  position: absolute;
  top: 15px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("../img/menu/menu.png") center center no-repeat;
}
.zoomha-mobilemenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: transform 0.1s;
  z-index: 3;
}
.zoomha-mobilemenu_active {
  transform: translateX(0);
  box-shadow: 0 0 10px #282828;
}
.zoomha-mobilemenu_active .zoomha-mobilemenu__show {
  display: none;
}
.zoomha-mobilemenu_active .zoomha-mobilemenu__hide {
  display: block;
}
.zoomha-mobilemenu_profile {
  width: 50%;
  background: #fff;
  top: 51px;
  z-index: 1;
}
.zoomha-mobilemenu_main {
  background: #282828;
  color: #f4fbff;
}
.zoomha-mobilemenu_filters {
  background: #e5e5e5;
}
.zoomha-mobilemenu_category {
  background: #e5e5e5;
}
.zoomha-mobilemenu__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("../img/menu/close_white.png") center center no-repeat;
}
.zoomha-mobilemenu__close_filters,
.zoomha-mobilemenu__close_category {
  background: url("../img/menu/close_black.png") center center no-repeat;
}
.zoomha-mobilemenu__show,
.zoomha-mobilemenu__hide {
  position: absolute;
  top: 50%;
  right: -20px;
  width: 20px;
  height: 40px;
  margin-top: -40px;
  background: #e5e5e5;
  font-size: 36px;
  line-height: 34px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.zoomha-mobilemenu__hide {
  display: none;
}
.zoomha-mobilemenu__list_filters {
  padding-top: 20px;
  margin-bottom: 20px;
}
.zoomha-mobilemenu__item_filter {
  padding: 15px 0;
  border-bottom: 1px solid #919191;
}
.zoomha-mobilemenu__item_filter:last-child {
  border-bottom: none;
}
.zoomha-mobilemenu__item_filter .zoomha-filters__label {
  font-size: 20px;
  line-height: 24px;
}
.zoomha-mobilemenu__item_filter .zoomha-filters__checkmark {
  top: 4px;
}
.zoomha-mobilemenu__button {
  width: 100%;
}
.zoomha-mobilemenu-category__list {
  padding-top: 20px;
}
.zoomha-mobilemenu-category__item {
  border-bottom: 1px solid #919191;
}
.zoomha-mobilemenu-category__link {
  display: block;
  color: #282828;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 0;
}
.zoomha-mobilemenu-category__sublist {
  margin-left: 50px;
  margin-bottom: 20px;
}
.zoomha-mobilemenu-category__sublink {
  display: block;
  color: #282828;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 0;
}
.zoomha-info {
  display: flex;
  justify-content: space-between;
}
.zoomha-info__item {
  margin-left: 33px;
}
.zoomha-info__link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #f4fbff;
  text-decoration: none;
}
.zoomha-info__count {
  visibility: hidden;
  display: inline-block;
  vertical-align: text-bottom;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  height: 17px;
  width: 17px;
  text-align: center;
  border-radius: 10px;
  background: #ffcb08;
  color: #282828;
}
.zoomha-info__count_active {
  visibility: visible;
}
.zoomha-info__bonus {
  font-size: 18px;
}
.zoomha-breadcrumbs {
  display: flex;
  margin-bottom: 6px;
}
.zoomha-breadcrumbs__item {
  margin-right: 5px;
  position: relative;
}
.zoomha-breadcrumbs__item:after {
  content: '›';
}
.zoomha-breadcrumbs__item:last-child:after {
  display: none;
}
.zoomha-breadcrumbs__link {
  color: #282828;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.zoomha-mainbanner {
  position: relative;
}
.zoomha-mainbanner:after {
  content: '';
  position: absolute;
  bottom: -132px;
  left: 318px;
  width: 285px;
  height: 295px;
  background: url("../img/box.png") center center no-repeat;
}
.zoomha-mainbanner__title {
  position: absolute;
  top: 78px;
  left: 125px;
  font-size: 50px;
  color: #f4fbff;
}
.zoomha-mainbanner__subtitle {
  position: absolute;
  top: 52px;
  left: 201px;
  font-size: 28px;
  line-height: 34px;
  color: #f4fbff;
}
.zoomha-mainbanner__item {
  position: absolute;
  width: 142px;
  height: 90px;
  border: 4px solid #f4fbff;
  border-radius: 100px;
  padding-top: 52px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #f4fbff;
}
.zoomha-mainbanner__item_one {
  bottom: 35px;
  left: 115px;
}
.zoomha-mainbanner__item_one:after {
  content: '';
  position: absolute;
  top: -28px;
  left: 120px;
  width: 100px;
  height: 100px;
  background: url("../img/arrow1.png") no-repeat;
}
.zoomha-mainbanner__item_two {
  bottom: 145px;
  left: 286px;
}
.zoomha-mainbanner__item_two:after {
  content: '';
  position: absolute;
  top: 25px;
  left: 145px;
  width: 100px;
  height: 100px;
  background: url("../img/arrow2.png") no-repeat;
}
.zoomha-mainbanner__item_three {
  bottom: 145px;
  left: 486px;
}
.zoomha-mainbanner__item_three:after {
  content: '';
  position: absolute;
  top: 86px;
  left: 148px;
  width: 100px;
  height: 100px;
  background: url("../img/arrow3.png") no-repeat;
}
.zoomha-mainbanner__item_four {
  bottom: 35px;
  left: 660px;
}
.zoomha-mainbanner__num {
  margin-top: 20px;
}
.zoomha-mainbanner__img {
  display: block;
}
.zoomha-about {
  background: #ffcb08;
  padding: 100px 55px 65px;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.zoomha-about:after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  height: 20px;
  width: 100%;
  background: url("../img/wave_yellow.png") repeat-x;
}
.zoomha-about__item {
  flex-basis: 23.5%;
}
.zoomha-about__item_first {
  text-align: right;
}
.zoomha-about__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
}
.zoomha-about__text {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
.zoomha-shop {
  margin-top: -58px;
}
.zoomha-popular {
  padding: 90px 55px 50px;
  position: relative;
  z-index: 1;
}
.zoomha-popular:after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  height: 20px;
  width: 100%;
  background: url("../img/wave_white.png") repeat-x;
}
.zoomha-banners {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.zoomha-leftcol {
  flex-basis: 20%;
  padding-right: 20px;
  margin-right: 8px;
  border-right: 1px solid #e5e5e5;
}
.zoomha-leftcol__title {
  font-size: 18px;
  line-height: 22px;
  margin: 6px 0 10px;
}
.zoomha-leftcol__item {
  margin-bottom: 5px;
}
.zoomha-leftcol__link,
.zoomha-leftcol__sublink {
  display: inline-block;
  color: #282828;
  border-bottom: 1px dashed #282828;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  margin-bottom: 6px;
}
.zoomha-leftcol__link:hover,
.zoomha-leftcol__sublink:hover {
  border-bottom: 1px solid transparent;
}
.zoomha-leftcol__link_active,
.zoomha-leftcol__sublink_active {
  border-bottom: 1px solid transparent;
  color: #ff7008;
}
.zoomha-leftcol__sublist {
  margin: 5px 0 0 12px;
}
.zoomha-content {
  display: flex;
  justify-content: space-between;
}
.zoomha-content_page {
  padding-top: 40px;
  margin-bottom: 80px;
}
.zoomha-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 19px;
}
.zoomha-title_bonuses {
  margin-bottom: 26px;
  text-align: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}
.zoomha-title_center {
  text-align: center;
  margin: 33px 0 8px 0;
}
.zoomha-title_profile {
  text-align: center;
  margin: 33px 0 44px;
}
.zoomha-subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 10px;
}
.zoomha-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 12px 22px 10px;
  margin-bottom: 20px;
}
.zoomha-filters__list {
  display: flex;
  flex-basis: 100%;
}
.zoomha-filters__item {
  margin-right: 27px;
}
.zoomha-filters__item_nobonus {
  margin-left: 36px;
}
.zoomha-filters__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.zoomha-filters__input:checked ~ .zoomha-filters__checkmark {
  background: url("../img/check.png") no-repeat;
}
.zoomha-filters__label {
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  cursor: pointer;
}
.zoomha-filters__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: url("../img/uncheck.png") no-repeat;
}
.zoomha-page,
.zoomha-catalog,
.zoomha-profile {
  padding: 18px 55px 0;
}
.zoomha-img {
  flex-basis: 46%;
}
.zoomha-img__item {
  max-width: 100%;
  display: block;
  margin-bottom: 28px;
}
.zoomha-img__description {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.zoomha-price {
  margin-bottom: 22px;
}
.zoomha-price__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 42px;
  line-height: 50px;
  margin-right: 15px;
  color: #ffcb08;
}
.zoomha-product {
  flex-basis: 49%;
}
.zoomha-product__title {
  font-size: 26px;
  line-height: 31px;
  margin: -7px 0 4px;
}
.zoomha-product__id {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 32px;
  color: #919191;
}
.zoomha-product__subtitle {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #919191;
}
.zoomha-product__bonus {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 14px;
  background: #282828;
  color: #f4fbff;
  border-radius: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}
.zoomha-product__format {
  display: inline-block;
  vertical-align: top;
  margin-right: 51px;
}
.zoomha-product__format-item {
  margin-top: 12px;
}
.zoomha-product__combination {
  font-size: 14px;
  line-height: 17px;
  margin-left: 6px;
}
.zoomha-product__size {
  display: inline-block;
  vertical-align: top;
  margin-top: -5px;
}
.zoomha-product__size-list {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  width: 105px;
}
.zoomha-product__size-item {
  font-size: 16px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;
}
.zoomha-product__size-item:hover {
  border: 1px solid #ffcb08;
}
.zoomha-product__size-item_active {
  border: 1px solid #ffcb08;
}
.zoomha-product__button {
  width: 278px;
  height: 50px;
  font-size: 18px;
  line-height: 35px;
  margin-top: 38px;
}
.zoomha-product__button_added {
  background: #e5e5e5;
  cursor: default;
}
.zoomha-bonuses_page {
  position: relative;
  background: #f3f6f7;
  padding: 53px 54px 53px;
  margin: 58px -55px 0;
}
.zoomha-bonuses_page:after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  height: 20px;
  width: 100%;
  background: url("../img/wave.png") repeat-x;
}
.zoomha-bonuses__list {
  display: flex;
  justify-content: space-between;
}
.zoomha-bonuses__list_profile {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.zoomha-bonuses__item {
  position: relative;
  flex-basis: 24%;
  max-width: 24%;
  height: 192px;
  box-sizing: border-box;
  border-radius: 20px 0px 20px 20px;
  padding: 20px;
}
.zoomha-bonuses__item_profile {
  margin-right: 2%;
  margin-bottom: 3%;
  flex-basis: 32%;
  max-width: 32%;
}
.zoomha-bonuses__item_profile:nth-of-type(3n) {
  margin-right: 0;
}
.zoomha-bonuses__item_eagle {
  background: url("../img/bonus/bonus2.png") no-repeat right center, linear-gradient(226.58deg, #26bd00 4.63%, rgba(255,255,255,0) 91.01%), #3fda09;
}
.zoomha-bonuses__item_wheel {
  background: url("../img/bonus/bonus3.png") no-repeat right 0, linear-gradient(226.58deg, #0094c2 24.87%, rgba(255,255,255,0) 91.01%), #00acf5;
}
.zoomha-bonuses__item_suit {
  background: url("../img/bonus/bonus4.png") no-repeat right center, linear-gradient(226.58deg, #e63c3c 24.87%, rgba(255,255,255,0) 91.01%), #e32929;
}
.zoomha-bonuses__item_cube {
  background: url("../img/bonus/bonus1.png") no-repeat right center, linear-gradient(226.58deg, #ff7008 4.63%, rgba(255,255,255,0) 91.01%), #ffcb08;
}
.zoomha-bonuses__item_match {
  background: url("../img/bonus/bonus5.png") no-repeat right center, linear-gradient(226.58deg, #504ee9 4.63%, rgba(255,255,255,0) 91.01%), #7977fa;
}
.zoomha-bonuses__item_stone {
  background: url("../img/bonus/bonus6.png") no-repeat right center, linear-gradient(226.58deg, #bd2d00 4.63%, rgba(255,255,255,0) 91.01%), #ff8a00;
}
.zoomha-bonuses__item_guess {
  background: url("../img/bonus/bonus7.png") no-repeat right center, linear-gradient(226.58deg, #add802 24.87%, rgba(255,255,255,0) 91.01%), #c4f500;
}
.zoomha-bonuses__item_combination {
  background: url("../img/bonus/bonus8.png") no-repeat right center, linear-gradient(226.58deg, #ffc700 4.63%, rgba(255,255,255,0) 91.01%), #ffd32f;
}
.zoomha-bonuses__spend {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 20px;
}
.zoomha-bonuses__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 10px;
}
.zoomha-bonuses__subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.zoomha-bonuses__win {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 13px 22px;
  color: #f4fbff;
  border-radius: 0px 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.zoomha-bonuses__win_cube {
  background: #e05e00;
}
.zoomha-bonuses__win_eagle {
  background: #20a000;
}
.zoomha-bonuses__win_wheel {
  background: #0088b3;
}
.zoomha-bonuses__win_suit {
  background: #d20000;
}
.zoomha-bonuses__win_match {
  background: #504ee9;
}
.zoomha-bonuses__win_stone {
  background: #bd2d00;
}
.zoomha-bonuses__win_guess {
  background: #8a0;
}
.zoomha-bonuses__win_combination {
  background: #e08700;
}
.zoomha-bonuses__total {
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 4px;
}
.zoomha-bonuses__total-num {
  font-weight: 700;
  color: #ff7008;
}
.zoomha-bonuses__txt {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
}
.zoomha-bonuses__link {
  color: #0398d8;
}
.zoomha-bonuses__link:hover {
  text-decoration: none;
}
.zoomha-rightcol {
  flex-basis: 80%;
  padding-left: 50px;
}
.zoomha-products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.zoomha-products__item {
  border: 1px solid #e5e5e5;
  max-width: 31.8%;
  box-sizing: border-box;
  margin-bottom: 2.3%;
  position: relative;
}
.zoomha-products__item_popular {
  max-width: 24%;
}
.zoomha-products__item_similar {
  max-width: 24%;
}
.zoomha-products__bonus {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 8px 6px;
  background: #282828;
  color: #f4fbff;
  border-radius: 20px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}
.zoomha-products__img {
  width: 100%;
}
.zoomha-products__txt {
  padding: 7px 11px 15px;
}
.zoomha-products__title {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 3px;
}
.zoomha-products__subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 13px;
}
.zoomha-products__info {
  font-size: 12px;
  line-height: 14px;
}
.zoomha-products__id {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 13px;
}
.zoomha-products__buttons {
  display: flex;
  justify-content: space-between;
}
.zoomha-products__basket {
  width: 60px;
  height: 30px;
  padding: 2px 15px;
  margin-right: 3px;
  background-image: url("../img/basket.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.zoomha-products__basket_added {
  background-color: #e5e5e5;
}
.zoomha-products__buy {
  flex-basis: 100%;
  padding: 9px;
}
.zoomha-links {
  padding: 10px;
}
.zoomha-links__item {
  color: #f4fbff;
  display: block;
  margin: 0 0 3px 54px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.zoomha-links__item:hover {
  text-decoration: none;
}
.zoomha-paginator {
  margin-bottom: 20px;
}
.zoomha-paginator__list {
  display: flex;
}
.zoomha-paginator__item {
  margin-right: 11px;
}
.zoomha-paginator__link {
  display: block;
  text-decoration: none;
  color: #282828;
  border-radius: 50px;
  border: 1px solid #e5e5e5;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
}
.zoomha-paginator__link_next {
  width: auto;
  padding: 0 20px;
}
.zoomha-paginator__link:hover {
  background: #e5e5e5;
}
.zoomha-paginator__link_active {
  background: #e5e5e5;
}
.zoomha-basket {
  padding: 18px 55px 0;
}
.zoomha-basket__title {
  font-size: 24px;
  margin-bottom: 3px;
}
.zoomha-basket__title-num {
  font-size: 24px;
  line-height: 29px;
}
.zoomha-basket__subtitle {
  font-size: 18px;
}
.zoomha-basket_empty .zoomha-empty {
  display: block;
}
.zoomha-basket_empty .zoomha-goods__list,
.zoomha-basket_empty .zoomha-order {
  display: none;
}
.zoomha-empty {
  display: none;
  font-size: 24px;
  text-align: center;
}
.zoomha-goods__list {
  margin-top: 23px;
}
.zoomha-goods__item {
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 28px;
}
.zoomha-goods__img {
  min-width: 114px;
  margin-right: 31px;
  text-align: center;
}
.zoomha-goods__title {
  text-align: left;
  width: 380px;
}
.zoomha-goods__txt {
  text-align: left;
  font-size: 14px;
  width: 200px;
}
.zoomha-goods__num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
}
.zoomha-goods__total {
  width: 200px;
}
.zoomha-goods__price {
  font-size: 24px;
  line-height: 29px;
}
.zoomha-goods__bonus {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ff7008;
}
.zoomha-goods__btn {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.zoomha-goods__btn:hover {
  background: #e5e5e5;
}
.zoomha-goods__close {
  text-align: center;
  border-radius: 30px;
  border: 1px solid #e5e5e5;
  height: 18px;
  width: 22px;
  line-height: 17px;
  margin: 0;
  cursor: pointer;
}
.zoomha-goods__close:hover {
  background: #e5e5e5;
}
.zoomha-choose {
  margin: 56px 0 17px;
}
.zoomha-choose__title {
  font-size: 24px;
  margin-bottom: 18px;
}
.zoomha-choose__list {
  display: flex;
  justify-content: space-between;
}
.zoomha-choose__item {
  flex-basis: 19%;
  font-size: 12px;
  background: #f4fbff;
}
.zoomha-choose__link {
  text-decoration: none;
  display: block;
  color: #282828;
  padding: 68px 21px 16px;
  line-height: 14px;
  height: 100%;
  box-sizing: border-box;
}
.zoomha-choose__link_card {
  background: url("../img/payment/card.png") center 18px no-repeat;
}
.zoomha-choose__link_qiwi {
  background: url("../img/payment/qiwi.png") center 12px no-repeat;
}
.zoomha-choose__link_webmoney {
  background: url("../img/payment/wm.png") center 0 no-repeat;
}
.zoomha-choose__link_yad {
  background: url("../img/payment/yad.png") center 3px no-repeat;
}
.zoomha-choose__link_paypal {
  background: url("../img/payment/paypal.png") center 17px no-repeat;
}
.zoomha-back {
  font-family: Raleway;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #0398d8;
  text-transform: uppercase;
}
.zoomha-back:before {
  content: '←';
}
.zoomha-back:hover {
  text-decoration: none;
}
.zoomha-order {
  margin: 23px 0;
}
.zoomha-order__item {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.zoomha-order__txt {
  font-size: 14px;
}
.zoomha-order__price {
  font-size: 24px;
  line-height: 29px;
  width: 110px;
  text-align: right;
}
.zoomha-order__bonus {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  width: 76px;
  padding-left: 16px;
  margin-top: 4px;
  color: #ff7008;
}
.zoomha-order__buy {
  width: 238px;
  height: 48px;
  line-height: 34px;
  font-size: 18px;
  margin: 17px 0 0 auto;
  text-transform: uppercase;
}
.zoomha-redirect {
  font-size: 24px;
  width: 180px;
  padding: 20px 70px;
  margin: 57px auto;
  background: url("../img/giphy.png") -80px -42px no-repeat;
}
.zoomha-bee {
  width: 667px;
  height: 370px;
  margin: 50px auto;
  background: url("../img/bee.png") 0 0 no-repeat;
}
.zoomha-error {
  width: 370px;
  height: 300px;
  margin: 132px auto;
  padding: 165px 0 0 0;
  text-align: center;
  background: url("../img/404.png") top center no-repeat;
}
.zoomha-error__title {
  font-size: 24px;
  margin-bottom: 46px;
  letter-spacing: 3.5px;
}
.zoomha-error__txt {
  font-size: 14px;
  line-height: 20px;
}
.zoomha-error__txt a {
  color: #0398d8;
}
.zoomha-error__txt a:hover {
  text-decoration: none;
}
.zoomha-footer {
  display: flex;
  justify-content: space-between;
  padding: 29px 55px;
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: -148px;
  background: #282828;
}
.zoomha-copy {
  color: #f4fbff;
  font-size: 14px;
  line-height: 17px;
}
.zoomha-email {
  color: #f4fbff;
  font-family: Raleway;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 10px 0 20px 27px;
}
.zoomha-email:hover {
  text-decoration: none;
}
.zoomha-support {
  background: #ffcb08;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.1);
  border-radius: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 10px;
  position: relative;
  left: 20px;
}
.zoomha-payments {
  display: flex;
  flex-basis: 24%;
  flex-wrap: wrap;
  padding: 10px 5px;
  box-sizing: border-box;
  align-items: center;
}
.zoomha-payments__item {
  margin-right: 20px;
}
.zoomha-payments__item_visa {
  width: 63px;
  height: 20px;
  background: url("../img/footer/visa.png") center center no-repeat;
}
.zoomha-payments__item_mc {
  width: 44px;
  height: 36px;
  background: url("../img/footer/mc.png") center center no-repeat;
}
.zoomha-payments__item_qiwi {
  width: 75px;
  height: 31px;
  background: url("../img/footer/qiwi.png") center center no-repeat;
}
.zoomha-payments__item_yad {
  width: 87px;
  height: 36px;
  background: url("../img/footer/yad.png") center center no-repeat;
}
.zoomha-payments__item_wm {
  width: 87px;
  height: 44px;
  background: url("../img/footer/wm.png") center center no-repeat;
}
.modal {
  width: 345px;
}
.modal__title {
  font-family: Raleway;
  bottom: 20px;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
}
.modal__input {
  width: 100%;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.modal__button {
  width: 100%;
  box-sizing: border-box;
}
.modal__links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.modal__link {
  display: block;
  margin: 10px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #0398d8;
}
.modal__link:hover {
  text-decoration: none;
}
.modal-social__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.modal-social__list {
  display: flex;
  justify-content: center;
}
.modal-social__link {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
.modal-social__link_vk {
  background: url("../img/vk.png") center center no-repeat;
}
.modal-social__link_fb {
  background: url("../img/fb.png") center center no-repeat;
}
.modal-social__link_gp {
  background: url("../img/gp.png") center center no-repeat;
}
@media screen and (max-width: 480px) {
  .zoomha-wrapper {
    width: 100%;
    padding: 0 0 400px;
    border: none;
  }
  .zoomha-top,
  .zoomha-menu,
  .zoomha-info {
    display: none;
  }
  .zoomha-header {
    padding: 0 10px;
    position: relative;
    width: 100%;
    top: 0;
  }
  .zoomha-logo__link {
    margin: 0 auto 20px;
  }
  .zoomha-mainbanner {
    overflow: hidden;
  }
  .zoomha-mainbanner__img {
    max-width: 100%;
  }
  .zoomha-about {
    display: block;
    padding: 20px;
  }
  .zoomha-about__item_first {
    text-align: left;
  }
  .zoomha-shop {
    margin: 0;
  }
  .zoomha-shop__img {
    max-width: 100%;
  }
  .zoomha-popular {
    padding: 20px;
  }
  .zoomha-catalog {
    padding: 20px;
  }
  .zoomha-banners {
    display: block;
  }
  .zoomha-banners__item {
    display: block;
  }
  .zoomha-banners__img {
    width: 100%;
  }
  .zoomha-content {
    display: block;
  }
  .zoomha-leftcol {
    display: none;
  }
  .zoomha-rightcol {
    padding: 0;
  }
  .zoomha-filters {
    display: none;
  }
  .zoomha-products__list {
    display: block;
  }
  .zoomha-products__item {
    max-width: 100%;
  }
  .zoomha-page {
    padding: 20px;
  }
  .zoomha-bonuses_page {
    margin: 0 -20px;
    padding: 20px;
  }
  .zoomha-bonuses__list {
    display: block;
  }
  .zoomha-bonuses__item {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .zoomha-basket {
    padding: 20px;
  }
  .zoomha-goods__item {
    display: block;
    position: relative;
  }
  .zoomha-goods__title {
    position: absolute;
    top: 10px;
    left: 140px;
    padding-right: 40px;
  }
  .zoomha-goods__close {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 24px;
  }
  .zoomha-goods__txt {
    position: absolute;
    top: 50px;
    left: 140px;
  }
  .zoomha-goods__total {
    margin: 10px 0 30px 120px;
  }
  .zoomha-goods__num {
    position: absolute;
    bottom: 5px;
    left: 140px;
  }
  .zoomha-order__item {
    justify-content: flex-start;
  }
  .zoomha-order__buy {
    width: 100%;
    box-sizing: border-box;
  }
  .zoomha-choose__list {
    display: block;
  }
  .zoomha-choose__item {
    margin-bottom: 20px;
  }
  .zoomha-bee {
    width: 100%;
    background-size: contain;
  }
  .zoomha-error {
    width: 100%;
    background-size: contain;
  }
  .zoomha-footer {
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: -400px;
  }
  .zoomha-mobile {
    display: block;
  }
  .zoomha-mobile__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .zoomha-mobile__button {
    background: #e5e5e5;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 10px;
    flex-basis: 48%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
  }
  .blocker:before {
    display: none;
  }
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
