$black = #282828
$white = #f4fbff
$yellow = #ffcb08
$orange = #ff7008
$light-grey = #F3F6F7
$grey = #E5E5E5
$dark-grey = #919191
$blue = #0398D8
$light-blue = #F4FBFF


html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0
  margin: 0
  font-family: 'Museo Sans Cyrl';
  color $black
}

ul {
  margin: 0
  padding: 0
  list-style-type: none
}

.zoomha {

  &-btn {
    display: block;
    text-decoration: none;
    background: linear-gradient(270deg, rgba(239, 190, 5, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FF7008;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 37px;
    color $white
    width 100px
    text-align: center
    cursor: pointer
    font-family: Raleway;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &-wrapper {
    width: 1280px
    min-height: 100%;
    margin: 0 auto
    box-sizing: border-box;
    padding: 89px 0 148px;
    border 1px solid $grey
  }

  &-logo {
    position: relative;

    &__link {
      width: 145px;
      height: 55px;
      display: block;
      background: url(../img/logo.png) 0 center no-repeat;

      &_header {

        &:after {
          content: '';
          height: 37px;
          width: 188px;
          position: absolute;
          top: 47px;
          left: -20px;
          background: url(../img/shadow.png) center center no-repeat;
          z-index: 2
        }
      }
    }
  }

  &-top {
    height: 31px
    background: $yellow
    padding: 0 55px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 1280px;
    top: 0;
    box-sizing: border-box;
    z-index: 3
  }

  &-lang {
    display: inline-block;
    vertical-align: top;
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 16px;
    padding: 7px 0 0px 23px;
    border-bottom: 1px dashed $black;
    background: url(../img/en.png) left 10px no-repeat;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid transparent
    }
  }

  &-auth {
    display: flex
    justify-content space-between

    &__item {
      display: inline-block;
      vertical-align: top;
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 5px;
      line-height: 16px;
      padding: 7px 0 0px 0;
      border-bottom: 1px dashed $black;
      margin-left: 20px
      cursor pointer

      &:hover {
        border-bottom: 1px solid transparent
      }

      &_login {
        display: none
        border-bottom: 1px solid transparent
      }
    }

    &__link {
      text-decoration: none
      color $black
    }

    &_login {
      .zoomha-auth__item_btn {
        display: none
      }
      .zoomha-auth__item_login {
        display: block
      }
    }
  }

  &-login {
    position: relative

    &__list {
      display: none
      position: absolute;
      top: 30px;
      left: -8px;
      width: 145px;
      background: $yellow
      padding: 10px;
      z-index: 1;
    }

    &__title {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-decoration: underline;
      margin-bottom: 5px
    }

    &__item {
      margin-bottom: 5px
    }

    &__link {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-decoration: underline;
      color $black

      &:hover {
        text-decoration: none
      }
    }

    &_open {
      .zoomha-login__list {
        display: block
      }
    }

  }

  &-header {
    position: fixed;
    width: 1280px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    top: 31px;
    height: 59px;
    line-height: 61px;
    padding: 0px 55px;
    background: $black
    z-index: 3
  }

  &-menu {
    display: flex
    justify-content space-between

    &__item {
      margin-right: 30px
    }

    &__link {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color $white
      text-decoration: none
    }
  }

  &-mobile {
    display: none
    position: relative
    width: 100%

    &__basket {
      position: absolute;
      top: 15px;
      right: 55px;
      width: 20px;
      height: 20px;
      cursor pointer
      background: url(../img/basket.png) center center no-repeat;
    }

    &__open {
      position: absolute;
      top: 15px;
      right: 5px;
      width: 20px;
      height: 20px;
      cursor pointer
      background: url(../img/menu/menu.png) center center no-repeat;
    }
  }
  &-mobilemenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition transform .1s
    z-index: 3

    &_active {
      transform: translateX(0);
      box-shadow 0 0 10px $black

      .zoomha-mobilemenu__show {
        display: none
      }

      .zoomha-mobilemenu__hide {
        display: block
      }
    }

    &_profile {
      width: 50%;
      background: #fff;
      top: 51px;
      z-index: 1;
    }

    &_main {
      background: $black;
      color: $white;
    }

    &_filters {
      background: $grey
    }

    &_category {
      background: $grey
    }

    &__close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: url(../img/menu/close_white.png) center center no-repeat;

      &_filters, &_category {
        background: url(../img/menu/close_black.png) center center no-repeat;
      }
    }

    &__show, &__hide {
      position: absolute;
      top: 50%;
      right: -20px;
      width: 20px;
      height: 40px;
      margin-top: -40px;
      background: $grey;
      font-size: 36px;
      line-height: 34px;
      text-align: center;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }

    &__hide {
      display: none
    }

    &__list {
      &_filters {
        padding-top: 20px
        margin-bottom: 20px
      }
    }

    &__item {
      &_filter {
        padding: 15px 0
        border-bottom: 1px solid $dark-grey

        &:last-child {
          border-bottom: none
        }

        .zoomha-filters__label {
          font-size: 20px;
          line-height: 24px;
        }

        .zoomha-filters__checkmark {
          top: 4px;
        }
      }
    }

    &__button {
      width: 100%
    }


    &-category {
      &__list {
        padding-top: 20px
      }
      &__item {
        border-bottom: 1px solid $dark-grey
      }
      &__link {
        display: block
        color $black
        text-decoration: none
        font-size: 20px;
        line-height: 24px;
        padding: 20px 0
      }
      &__sublist {
        margin-left: 50px
        margin-bottom: 20px
      }
      &__sublink {
        display: block
        color $black
        text-decoration: none
        font-size: 20px;
        line-height: 24px;
        padding: 10px 0
      }
    }
  }
  &-info {
    display: flex
    justify-content space-between

    &__item {
      margin-left: 33px
    }

    &__link {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color $white
      text-decoration: none
    }

    &__count {
      visibility hidden
      display: inline-block
      vertical-align: text-bottom;
      font-family: Raleway;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 17px;
      height: 17px;
      width: 17px
      text-align: center;
      border-radius: 10px;
      background: $yellow
      color $black

      &_active {
        visibility visible
      }
    }

    &__bonus {
      font-size: 18px;
    }
  }

  &-breadcrumbs {
    display: flex
    margin-bottom: 6px

    &__item {
      margin-right: 5px
      position: relative

      &:after {
        content '›'
      }

      &:last-child:after {
        display: none
      }
    }

    &__link {
      color $black
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &-mainbanner {
    position: relative

    &:after {
      content: '';
      position: absolute;
      bottom: -100px;
      left: 270px;
      width: 285px;
      height: 295px;
      background: url(../img/box.png) center center no-repeat;
    }

    &__title {
      position: absolute
      top: 100px
      left: 100px
      font-size: 28px;
      line-height: 34px;
      color #fff
    }

    &__subtitle {
      position: absolute
      top: 50px
      left: 100px
      font-size: 18px;
      line-height: 34px;
      color #fff
    }

    &__item {
      position: absolute;
      width: 100px;
      border: 4px solid $white;
      border-radius: 100px;
      text-align: center;
      padding: 50px 30px 30px;
      color $white

      &_one {
        bottom: 50px
        left: 100px

        &:after {
          content: '';
          position: absolute;
          top: -50px;
          left: 100px;
          width: 100px;
          height: 100px;
          background: url(../img/arrow1.png) no-repeat;
        }
      }

      &_two {
        bottom: 200px
        left: 220px

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 150px;
          width: 100px;
          height: 100px;
          background: url(../img/arrow2.png) no-repeat;
        }
      }

      &_three {
        bottom: 200px
        left: 430px

        &:after {
          content: '';
          position: absolute;
          top: 120px;
          left: 150px;
          width: 100px;
          height: 100px;
          background: url(../img/arrow3.png) no-repeat;
        }
      }

      &_four {
        bottom: 50px
        left: 550px
      }
    }

    &__num {
      margin-top: 20px
    }

    &__img {
      display: block
    }
  }

  &-about {
    background: $yellow
    padding: 100px 55px
    position: relative
    display: flex;
    justify-content: space-between;
    z-index:1

    &:after {
      content ''
      position: absolute
      top: -20px
      left: 0
      height: 20px
      width: 100%
      background: url(../img/wave_yellow.png) repeat-x;
    }

    &__item {
      flex-basis 30%
      margin: 0 20px

      &_first {
        text-align: right
      }
    }

    &__title {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 31px;
    }

    &__text {
      font-size: 14px;
      line-height 18px
    }
  }

  &-shop {
    margin-top: -50px;
  }

  &-popular {
    padding: 50px 55px
    position: relative
    z-index:1

    &:after {
      content ''
      position: absolute
      top: -20px
      left: 0
      height: 20px
      width: 100%
      background: url(../img/wave_white.png) repeat-x;
    }
  }

  &-banners {
    display: flex
    justify-content space-between
    margin-bottom: 40px
  }

  &-leftcol {
    flex-basis: 20%;
    padding-right: 20px;
    margin-right: 8px;
    border-right: 1px solid $grey

    &__title {
      font-size: 18px;
      line-height: 22px;
      margin: 6px 0 10px;
    }

    &__item {
      margin-bottom: 5px
    }

    &__link, &__sublink {
      display: inline-block
      color $black
      border-bottom: 1px dashed $black
      font-size: 14px;
      line-height: 17px;
      text-decoration: none
      margin-bottom: 6px;

      &:hover {
        border-bottom: 1px solid transparent
      }

      &_active {
        border-bottom: 1px solid transparent
        color $orange
      }
    }

    &__sublist {
      margin: 5px 0 0 12px;
    }
  }
  &-content {
    display: flex
    justify-content space-between

    &_page {
      padding-top: 40px
      margin-bottom: 80px
    }
  }

  &-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 19px

    &_bonuses {
      font-weight: 600;
      text-align: center;
    }

    &_center {
      text-align: center;
      margin: 33px 0 8px 0;
    }

    &_profile {
      text-align: center;
      margin: 33px 0 44px;
    }
  }

  &-subtitle {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 10px
  }

  &-filters {
    display: flex
    justify-content space-between
    align-items: center;
    box-sizing: border-box;
    border 1px solid $grey
    border-radius: 10px;
    padding: 12px 22px 10px;
    margin-bottom: 20px;

    &__list {
      display: flex;
      flex-basis: 100%;

    }

    &__item {
      margin-right: 27px;

      &_nobonus {
        margin-left: 36px;
      }
    }

    &__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .zoomha-filters__checkmark {
        background: url(../img/check.png) no-repeat;
      }
    }

    &__label {
      position: relative;
      padding-left: 25px;
      font-size: 14px;
      cursor: pointer;
    }

    &__checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background: url(../img/uncheck.png) no-repeat;
    }
  }

  &-page, &-catalog, &-profile {
    padding: 18px 55px 0;
  }

  &-img {
    flex-basis: 46%;

    &__item {
      max-width: 100%;
      display: block
      margin-bottom: 28px;
    }

    &__description {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &-price {
    margin-bottom: 22px

    &__item {
      display: inline-block;
      vertical-align: middle;
      font-size: 42px;
      line-height: 50px;
      margin-right: 15px;
      color $yellow
    }
  }

  &-product {
    flex-basis: 49%;

    &__title {
      font-size: 26px;
      line-height: 31px;
      margin: -7px 0 4px;
    }

    &__id {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 32px
      color $dark-grey
    }

    &__subtitle {
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      color $dark-grey
    }

    &__bonus {
      display: inline-block
      vertical-align: middle
      padding: 8px 14px;
      background: $black;
      color: $white;
      border-radius: 20px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      text-transform: uppercase;
    }

    &__format {
      display: inline-block
      vertical-align: top
      margin-right: 51px

      &-item {
        margin-top: 12px;
      }
    }

    &__combination {
      font-size: 14px;
      line-height: 17px;
      margin-left: 6px;
    }

    &__size {
      display: inline-block
      vertical-align: top
      margin-top: -5px

      &-list {
        display: flex
        justify-content space-between
        margin-top: 8px
        width: 105px;
      }

      &-item {
        font-size: 16px;
        line-height: 24px;
        width: 24px;
        height: 24px;
        text-align: center;
        border 1px solid transparent
        border-radius 50px
        cursor pointer

        &:hover {
          border 1px solid $yellow
        }

        &_active {
          border 1px solid $yellow
        }
      }
    }

    &__button {
      width: 278px;
      height: 50px;
      font-size: 18px;
      line-height: 35px;
      margin-top: 38px

      &_added {
        background: $grey
        cursor default
      }
    }
  }
  &-bonuses {

    &_page {
      position: relative
      background: $light-grey
      padding: 20px 75px 20px;
      margin: 0 -55px;

      &:after {
        content ''
        position: absolute
        top: -20px
        left: 0
        height: 20px
        width: 100%
        background: url(../img/wave.png) repeat-x;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;

      &_profile {
        justify-content flex-start
        flex-wrap: wrap;
      }

    }

    &__item {
      position: relative
      flex-basis 24%
      max-width: 24%;
      height: 192px
      box-sizing: border-box;
      border-radius: 20px 0px 20px 20px;
      padding: 20px

      &_profile {
        margin-right: 2%;
        margin-bottom: 3%;
        flex-basis: 32%;
        max-width: 32%;

        &:nth-of-type(3n) {
          margin-right: 0
        }
      }

      &_eagle {
        background:  url("../img/bonus/bonus2.png") no-repeat right center, linear-gradient(226.58deg, #26BD00 4.63%, rgba(255, 255, 255, 0) 91.01%), #3FDA09;
      }

      &_wheel {
        background:  url("../img/bonus/bonus3.png") no-repeat right 0, linear-gradient(226.58deg, #0094C2 24.87%, rgba(255, 255, 255, 0) 91.01%), #00ACF5;
      }

      &_suit {
        background:  url("../img/bonus/bonus4.png") no-repeat right center, linear-gradient(226.58deg, #E63C3C 24.87%, rgba(255, 255, 255, 0) 91.01%), #E32929;
      }

      &_cube {
        background: url("../img/bonus/bonus1.png") no-repeat right center, linear-gradient(226.58deg, #FF7008 4.63%, rgba(255, 255, 255, 0) 91.01%), #FFCB08;
      }

      &_match {
        background:  url("../img/bonus/bonus5.png") no-repeat right center, linear-gradient(226.58deg, #504EE9 4.63%, rgba(255, 255, 255, 0) 91.01%), #7977FA;
      }

      &_stone {
        background: url("../img/bonus/bonus6.png") no-repeat right center, linear-gradient(226.58deg, #BD2D00 4.63%, rgba(255, 255, 255, 0) 91.01%), #FF8A00;
      }

      &_guess {
        background:  url("../img/bonus/bonus7.png") no-repeat right center, linear-gradient(226.58deg, #ADD802 24.87%, rgba(255, 255, 255, 0) 91.01%), #C4F500;
      }

      &_combination {
        background:  url("../img/bonus/bonus8.png") no-repeat right center, linear-gradient(226.58deg, #FFC700 4.63%, rgba(255, 255, 255, 0) 91.01%), #FFD32F;
      }
    }

    &__spend {
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 31px;
      margin-bottom: 20px
    }

    &__title {
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 27px;
      margin-bottom: 10px;
    }

    &__subtitle {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }

    &__win {
      position: absolute
      bottom: 0
      left: 0
      padding: 13px 22px
      color $white
      border-radius: 0px 20px;
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      &_cube {
        background: #E05E00;
      }

      &_eagle {
        background: #20A000;
      }

      &_wheel {
        background: #0088B3;
      }

      &_suit {
        background: #D20000;
      }

      &_match {
        background: #504EE9;
      }

      &_stone {
        background: #BD2D00;
      }

      &_guess {
        background: #88AA00;
      }

      &_combination {
        background: #E08700;
      }
    }

    &__total {
      font-family: Raleway;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 4px

      &-num {
        font-weight 700
        color $orange
      }
    }

    &__txt {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 30px
    }

    &__link {
      color $blue

      &:hover {
        text-decoration: none
      }
    }
  }

  &-rightcol {
    flex-basis 80%
    padding-left: 50px
  }

  &-products {
    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 20px
    }

    &__item {
      border 1px solid $grey
      max-width: 31.8%;
      box-sizing: border-box;
      margin-bottom: 2.3%;
      position: relative;

      &_popular {
        max-width: 24%;
      }

      &_similar {
        max-width: 24%;
      }
    }

    &__bonus {
      position: absolute
      top: 10px;
      right: 10px;
      padding: 8px 8px 6px;
      background: $black
      color $white
      border-radius 20px
      font-family: Montserrat;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      text-transform: uppercase;
    }

    &__img {
      width: 100%
    }

    &__txt {
      padding: 7px 11px 15px;
    }

    &__title {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 3px
    }

    &__subtitle {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 13px
    }

    &__info {
      font-size: 12px;
      line-height: 14px;
    }

    &__id {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 13px;
    }

    &__buttons {
      display: flex
      justify-content: space-between;
    }

    &__basket {
      width: 60px;
      height: 30px;
      padding: 2px 15px;
      margin-right: 3px;
      background-image: url(../img/basket.png);
      background-position: center center;
      background-repeat: no-repeat;

      &_added {
        background-color: $grey
      }
    }

    &__buy {
      flex-basis: 100%;
      padding: 9px;
    }
  }

  &-links {
    padding: 10px;

    &__item {
      color $white
      display: block
      margin: 0 0 3px 54px;
      font-family: Raleway;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      &:hover {
        text-decoration: none
      }
    }
  }

  &-paginator {
    margin-bottom: 20px

    &__list {
      display: flex
    }

    &__item {
      margin-right: 11px
    }

    &__link {
      display: block
      text-decoration: none
      color $black
      border-radius 50px
      border 1px solid $grey
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 34px;
      font-size: 16px;

      &_next {
        width auto
        padding: 0 20px
      }

      &:hover {
        background: $grey
      }

      &_active {
        background: $grey
      }
    }
  }

  &-basket {
    padding: 18px 55px 0;

    &__title {
      font-size: 24px;
      margin-bottom: 3px

      &-num {
        font-size: 24px;
        line-height: 29px;
      }
    }

    &__subtitle {
      font-size: 18px;
    }

    &_empty {
      .zoomha-empty {
        display: block
      }
      .zoomha-goods__list, .zoomha-order {
        display: none
      }
    }
  }

  &-empty {
    display: none
    font-size: 24px;
    text-align: center
  }

  &-goods {
    &__list {
      margin-top: 23px;
    }

    &__item {
      border 1px solid $grey
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 9px 28px;
    }

    &__img {
      min-width: 114px;
      margin-right: 31px;
      text-align: center
    }

    &__title {
      text-align: left
      width: 380px
    }

    &__txt {
      text-align: left
      font-size: 14px;
      width: 200px
    }

    &__num {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 330px;
    }

    &__total {
      width: 200px
    }

    &__price {
      font-size: 24px;
      line-height: 29px;
    }

    &__bonus {
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: $orange;
    }

    &__btn {
      width: 20px
      height: 20px
      text-align: center
      line-height 20px
      font-size 18px
      border 1px solid $grey
      border-radius 30px
      margin: 0 10px
      cursor pointer

      &:hover {
        background: $grey

      }
    }

    &__close {
      text-align: center;
      border-radius: 30px;
      border: 1px solid $grey;
      height: 18px;
      width: 22px;
      line-height: 17px;
      margin: 0;
      cursor: pointer;

      &:hover {
        background: $grey

      }
    }
  }

  &-choose {
    margin: 56px 0 17px

    &__title {
      font-size: 24px;
      margin-bottom: 18px
    }

    &__list {
      display: flex
      justify-content space-between
    }

    &__item {
      flex-basis 19%
      font-size: 12px;
      background: $light-blue
    }

    &__link {
      text-decoration: none;
      display: block;
      color $black
      padding: 68px 21px 16px;
      line-height: 14px;
      height: 100%;
      box-sizing: border-box;

      &_card  {
        background: url(../img/payment/card.png) center 18px no-repeat;
      }

      &_qiwi  {
        background: url(../img/payment/qiwi.png) center 12px no-repeat;
      }

      &_webmoney  {
        background: url(../img/payment/wm.png) center 0 no-repeat;
      }

      &_yad  {
        background: url(../img/payment/yad.png) center 3px no-repeat;
      }

      &_paypal  {
        background: url(../img/payment/paypal.png) center 17px no-repeat;
      }
    }
  }

  &-back {
    font-family: Raleway;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color $blue
    text-transform: uppercase;

    &:before {
      content '←'
    }

    &:hover {
      text-decoration: none
    }
  }
  &-order {
    margin: 23px 0

    &__item {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
    }

    &__txt {
      font-size: 14px;
    }

    &__price {
      font-size: 24px;
      line-height: 29px;
      width: 110px;
      text-align: right;
    }

    &__bonus {
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      width: 76px;
      padding-left: 16px;
      margin-top: 4px;
      color $orange
    }

    &__buy {
      width: 238px;
      height: 48px;
      line-height: 34px;
      font-size: 18px;
      margin: 17px 0 0 auto;
      text-transform: uppercase;
    }
  }

  &-redirect {
    font-size: 24px;
    width: 180px;
    padding: 20px 70px;
    margin: 57px auto;
    background: url(../img/giphy.png) -80px -42px no-repeat;
  }

  &-bee {
    width: 667px;
    height: 370px;
    margin: 50px auto;
    background: url(../img/bee.png) 0 0 no-repeat;
  }

  &-error {
    width: 370px;
    height: 300px;
    margin: 132px auto;
    padding: 165px 0 0 0;
    text-align: center;
    background: url(../img/404.png) top center no-repeat;

    &__title {
      font-size: 24px;
      margin-bottom: 46px;
      letter-spacing: 3.5px;
    }

    &__txt {
      font-size: 14px;
      line-height: 20px;

      a {
        color $blue

        &:hover {
          text-decoration: none
        }
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    padding: 29px 55px;
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top -148px
    background: $black
  }
  &-copy {
    color $white
    font-size: 14px;
    line-height: 17px;
  }

  &-email {
    color $white
    font-family: Raleway;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 10px 0 20px 27px;

    &:hover {
      text-decoration: none
    }
  }

  &-support {
    background: $yellow;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.1);
    border-radius: 20px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 10px;
    position: relative;
    left: 20px;
  }

  &-payments {
    display: flex;
    flex-basis: 24%;
    flex-wrap: wrap;
    padding: 10px 5px;
    box-sizing: border-box;
    align-items: center;

    &__item {
      margin-right: 20px

      &_visa {
        width: 63px
        height: 20px
        background: url(../img/footer/visa.png) center center no-repeat;
      }

      &_mc {
        width: 44px
        height: 36px
        background: url(../img/footer/mc.png) center center no-repeat;
      }

      &_qiwi {
        width: 75px
        height: 31px
        background: url(../img/footer/qiwi.png) center center no-repeat;
      }

      &_yad {
        width: 87px
        height: 36px
        background: url(../img/footer/yad.png) center center no-repeat;
      }

      &_wm {
        width: 87px
        height: 44px
        background: url(../img/footer/wm.png) center center no-repeat;
      }
    }
  }
}
.modal {
  width: 345px

  &__title {
    font-family: Raleway;
    bottom: 20px
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
  }

  &__input {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  &__button {
    width: 100%;
    box-sizing: border-box;

  }

  &__links {
    display: flex
    justify-content center
    margin-bottom: 20px
  }

  &__link {
    display: block
    margin: 10px
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color $blue

    &:hover {
      text-decoration: none
    }
  }

  &-social {

    &__title {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      margin-bottom: 10px
    }

    &__list {
      display: flex
      justify-content center
    }

    &__link {
      display: block
      width: 40px
      height: 40px
      margin: 0 10px

      &_vk {
        background: url(../img/vk.png) center center no-repeat;
      }

      &_fb {
        background: url(../img/fb.png) center center no-repeat;
      }

      &_gp {
        background: url(../img/gp.png) center center no-repeat;
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .zoomha {
    &-wrapper {
      width: 100%
      padding: 0 0 400px
      border none
    }

    &-top, &-menu, &-info {
      display: none
    }

    &-header {
      padding: 0 10px;
      position: relative;
      width: 100%;
      top: 0;
    }

    &-logo {
      &__link {
        margin: 0 auto 20px;
      }
    }

    &-mainbanner { //todo
      overflow: hidden;
      &__img {
        max-width 100%
      }
    }

    &-about {
      display: block
      padding: 20px

      &__item {
        &_first {
          text-align: left
        }
      }
    }

    &-shop {
      margin: 0

      &__img  {
        max-width 100%
      }
    }

    &-popular {
      padding: 20px
    }

    &-catalog {
      padding: 20px
    }

    &-banners {
      display: block

      &__item {
        display: block
      }

      &__img {
        width: 100%
      }
    }

    &-content {
      display: block
    }

    &-leftcol {
      display: none
    }

    &-rightcol {
      padding: 0
    }

    &-filters {
      display: none
    }

    &-products {
      &__list {
        display: block
      }

      &__item {
        max-width 100%
      }
    }

    &-page {
      padding: 20px
    }

    &-bonuses {

      &_page {
        margin: 0 -20px;
        padding: 20px;
      }

      &__list {
        display: block
      }

      &__item {
        max-width 100%
        margin-bottom: 20px
      }
    }

    &-basket {
      padding: 20px
    }

    &-goods {

      &__item {
        display: block
        position: relative
      }

      &__title {
        position: absolute;
        top: 10px;
        left: 140px;
        padding-right: 40px;
      }

      &__close {
        position: absolute;
        top: 10px;
        right: -10px;
        width: 24px;
      }

      &__txt {
        position: absolute;
        top: 50px;
        left: 140px;
      }

      &__total {
        margin: 10px 0 30px 120px;
      }

      &__num {
        position: absolute;
        bottom: 5px;
        left: 140px;
      }
    }

    &-order {
      &__item {
        justify-content: flex-start
      }

      &__buy {
        width: 100%;
        box-sizing: border-box;
      }
    }

    &-choose {
      &__list {
        display: block
      }

      &__item {
        margin-bottom: 20px;
      }
    }

    &-bee {
      width: 100%;
      background-size: contain;
    }

    &-error {
      width: 100%;
      background-size: contain;
    }

    &-footer {
      display: block;
      width: 100%;
      padding: 20px;
      text-align: center;
      margin-top: -400px
    }

    &-mobile {
      display: block

      &__buttons {
        display: flex
        justify-content space-between
        margin-bottom: 20px
      }

      &__button {
        background: $grey;
        border: 1px solid $grey;
        box-sizing: border-box;
        border-radius: 10px;
        flex-basis 48%
        text-align: center
        height: 30px;
        line-height: 30px;
        cursor pointer
      }
    }
  }

  .blocker {
    &:before {
      display: none
    }
  }

  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

