/*@font-face {*/
    /*font-family: 'Museo Sans Cyrl';*/
    /*src: local('MuseoSansCyrl-Extra-Light'), url('MuseoSansCyrl-100.ttf') format('truetype');*/
    /*font-weight: 100;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'Museo Sans Cyrl';*/
    /*src: local('MuseoSansCyrl-Extra-Light-Italic'), url('MuseoSansCyrl-100Italic.ttf') format('truetype');*/
    /*font-weight: 100;*/
    /*font-style: Italic;*/
/*}*/
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl-Light'), url('MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl-Light-Italic'), url('MuseoSansCyrl-300Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: Italic;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl-Medium'), url('MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl-Medium-Italic'), url('MuseoSansCyrl-500Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: Italic;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl-Bold'), url('MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl-Bold-Italic'), url('MuseoSansCyrl-700Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: Italic;
}
/*@font-face {*/
    /*font-family: 'Museo Sans Cyrl';*/
    /*src: local('MuseoSansCyrl-Extra-Bold'), url('MuseoSansCyrl-900.ttf') format('truetype');*/
    /*font-weight: 900;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'Museo Sans Cyrl';*/
    /*src: local('MuseoSansCyrl-Extra-Bold-Italic'), url('MuseoSansCyrl-900Italic.ttf') format('truetype');*/
    /*font-weight: 900;*/
    /*font-style: Italic;*/
/*}*/
